<!-- HEADER (vast, uit partials/header.html) -->
<tr><td bgcolor="#F8F7F2" style="padding:18px 36px;background-color:#F8F7F2;border-bottom:1px solid #ECE7DD;" class="pad">
  <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
    <td valign="middle"><a href="https://siraatskitchen.com"><img src="{{SHARED}}/logo-black-cream.png" width="150" alt="Siraat" style="display:block;width:150px;height:auto;border:0;"></a></td>
    <td valign="middle" align="right" class="navhide" style="padding-left:20px;font-family:Inter,Arial,Helvetica,sans-serif;font-size:11px;line-height:14px;letter-spacing:1.5px;font-weight:600;white-space:nowrap;">
      <a href="https://siraatskitchen.com/collections/pans" style="color:#282828;text-decoration:none;">COOKWARE</a>&nbsp;&nbsp;&nbsp;
      <a href="https://siraatskitchen.com/collections/bundles" style="color:#282828;text-decoration:none;">SETS</a>&nbsp;&nbsp;&nbsp;
      <a href="https://siraatskitchen.com/pages/about-us" style="color:#282828;text-decoration:none;">ABOUT</a>
    </td>
  </tr></table>
</td></tr>
